/* Responsive */

@media (max-width: 1400px) {
    
    /* header */
    .menu-mid {flex: 0 1 270px;}
    .menu-lft,.menu-rgt{column-gap: 15px;}
    .menu-rgt li a ,.menu-lft li a{font-size: 16px;}
}

@media (max-width: 1200px) {
    
    /* header */
    .menu-mid {flex: 0 1 320px;}
    .menu-lft{display: none;}
    .menu-rgt{column-gap: 30px;}
    .menu-rgt li:nth-child(1),.menu-rgt li:nth-child(2){display:none;}
    .m-menu{display: block;}
    .top-menu{padding: 17px 0;}

    /* booking */
    .inner-cnt h1{font-size: 65px;}
    .booking{padding: 60px 0;}



}



@media (max-width: 991px) {


    
    /* booking */
    .inner-cnt h1{font-size: 55px;}
    .res-dates {flex: 0 1 66.7%;}
    .res-guests{flex:0 1 33.3%;padding-right: 0;}
    .res-btn{flex:0 1 100%}


}

@media (max-width: 767px) {

    /* header */
    .mobile-menu{top:78px;height: calc(100vh - 78px);}
    .menu-mid{flex: 0 1 270px;}
    .menu-rgt li .book-btn a{font-size: 16px;padding: 10px 25px;}
    .top-menu{padding: 17px 15px;}

    /* footer */
    footer{padding: 20px 0;}
    .footer-logo{max-width: 280px;margin-bottom: 10px;}

    /* booking */
    .ban-img{min-height: 250px;}
    .inner-cnt h1{font-size: 45px;}
    .inner-cnt span{font-size: 16px;margin-bottom: 5px; }
    .book-rules ul li,.res-info p{font-size: 16px;}
    #fran-form .input-group input,#fran-form .input-group textarea{font-size: 15px;}
    .res-dates{flex: 0 1 100%}
    .res-dates ul li:last-child{padding-right: 0;}
    .res-guests{flex: 0 1 100%}
    .res-dates ul li label,.res-guests label{line-height: 20px;}
    .gdropdown-menu{max-width: 320px;}

}

@media (max-width:639px) {

    /* booking */
    .daterangepicker.ltr .calendar.left .calendar-table, .daterangepicker.ltr .left .daterangepicker_input{padding-right: 5px !important;}
    .daterangepicker .calendar td, .daterangepicker .calendar th{min-width: 27px;font-size: 13px;}
}

@media (max-width: 575px) {

    /* header */
    .menu-mid {flex: 0 1 230px;}
    .mobile-menu{top:75px;height: calc(100vh - 75px);}
    .menu-rgt {column-gap: 10px;}
    /* footer */
    .footer-logo { max-width: 230px;}
    .footer-scl-lnks ul li a{width: 30px;height: 30px;}



    
    /* booking */
    .inner-cnt span {font-size: 14px;}
    .inner-cnt h1 {font-size: 32px;}
    .booking{padding: 50px 0;}
    #fran-form{row-gap: 10px;}
    #fran-form .input-group {flex: 0 1 100%; width: 100%;}
    .res-dates ul li{flex: 0 1 100%; padding-right: 0;}
    .res-main , .res-dates ul{row-gap: 15px;}
    .res-dates ul li label , .res-guests label{font-size: 13px;margin-bottom: 2px;}
    .b-frm{font-size: 13px;}
    .glabel{font-size: 15px;}
    .glabel small {font-size: 12px;}
    .counter button {width: 26px;height: 26px;}
    .res-info p,.book-rules ul li{font-size: 15px;}
    .counter input {font-size: 15px;}
    

}

@media (max-width: 435px) {

    /* header */
    .menu-mid {flex: 0 1 200px;}
    .menu-rgt li .book-btn a {font-size: 14px;padding: 8px 17px;}
    .mobile-menu{top:70px;height: calc(100vh - 70px);}
        /* footer */
        .footer-logo { max-width: 200px;}
        footer p{font-size: 13px;}

}

@media (max-width: 375px) {

    /* header */
    .menu-mid {flex:0 1 170px;}
    .m-menu {width:25px;}
    .m-menu.open span:nth-child(3) {top:18px;}
    .menu-rgt li .book-btn a {font-size:13px; padding:6px 11px;}
    .menu-rgt {column-gap:5px;}
    .mobile-menu{top:66px;height: calc(100vh - 66px);}
    
    /* footer */
    .footer-logo { max-width: 170px;}

    
    /* booking */
    .content-wrapper{padding: 0 20px;}
    .reservation,#fran-form{padding: 20px;}
    .res-btn a {font-size: 15px;padding: 6px 20px;}
    #fran-form .submit-btn {padding: 9px 30px;}
    .book-rules ul li{font-size: 15px;line-height: 24px;}
    .datepickers-container .datepicker{width: 200px;}
    
    
}