/* Responsive */

@media (max-width: 1400px) {
    
    /* header */
    .menu-mid {flex: 0 1 270px;}
    .menu-lft,.menu-rgt{column-gap: 15px;}
    .menu-rgt li a ,.menu-lft li a{font-size: 16px;}

    /* home */
    .home-cnt {left: calc((100% - 1140px) / 2);}
    .home-cnt h1{font-size: 65px;}
    .home-cnt p,.harmony-sec p,.about-cnt p{font-size: 19px;}
    .harmony-sec h2{font-size: 50px;}

    /* Contact */
    section.contact-section h2 , .gallery-section h2{font-size: 55px;}
}

@media (max-width:1366px){
    p.area-para {font-size: 18px;}
    .about h2 {font-size: 35px;}
}

@media (max-width: 1200px) {
    
    /* header */
    .menu-mid {flex: 0 1 320px;}
    .menu-lft{display: none;}
    .menu-rgt{column-gap: 30px;}
    .menu-rgt li:nth-child(1),.menu-rgt li:nth-child(2){display:none;}
    .m-menu{display: block;}
    .top-menu{padding: 17px 0;}

    /* home */
    .home-ban img{min-height: 450px;}
    .home-cnt {left: calc((100% - 960px) / 2);}
    .high-list{padding-top: 40px;}
    .high-list .row{row-gap: 30px;}
    .abt-bm{margin-top: 50px;}
    .about{padding: 70px 0;}
    .about-img {height: 100%;}
    .about-img img{height: 100%;object-fit: cover;}
    .abt-bm .about-cnt{padding-right: 30px;}
    .abt-tp .about-cnt{padding-left: 30px;}
    .cot-cnt{font-size: 40px;}
    .test-cnt h3{font-size: 20px;}
    .testimonial {padding: 0 20px 60px;}

    /* booking */
    .inner-cnt h1{font-size: 65px;}
    .booking{padding: 60px 0;}

    /* astronomy , contact , gallery */
    .astronomy-section p.para {font-size: 20px;}
    .review p {font-size: 18px;}
    .contact-section h2 , .gallery-section h2 {font-size: 50px;}
    .flex-icon {gap: 20px;}
    .flex-icon .icon {width: 70px;height: 70px;}
    .cont h3 {font-size: 19px;}
    .cont h4 {font-size: 19px;}
    .card.contact-card {padding: 30px;}
    .cont h3 {font-size: 18px; margin-bottom: 3px;}
    .contact-div .form-label {font-size: 15px;}

    /* cottage */
    .cottage p{font-size: 18px;}

    /* area */
    p.area-para {font-size: 17px;}
    section.area-section{padding: 50px 0;}

}



@media (max-width: 991px) {

    /* home */
    .home-cnt {left: calc((100% - 720px) / 2);max-width: 700px;}
    .home-cnt h1{font-size: 55px;}
    .home-cnt p,.harmony-sec p,.about-cnt p{font-size: 18px;}
    .home-cnt a,.testi-btn a {font-size: 17px;line-height: 17px;}
    .about{padding: 60px 0;}
    .abt-bm .about-cnt{padding-right: 0px;}
    .abt-tp .about-cnt{padding-left: 0px;}
    .abt-tp, .abt-bm{row-gap: 20px;}
    .abt-bm > div:nth-child(1){order: 1;}
    .abt-bm > div:nth-child(2){order: 0;}
    .abt-bm{margin-top: 0;}
    .highlights{padding: 70px 0;}
    .harmony-img{max-width: 300px;}
    .harmony-sec h2{font-size: 40px;}
    .high-list {padding-top: 30px;}
    .high-img {width: 70px;height: 70px;}    
    .high-img img {width: 35px;height: 35px;}
    .high-list > div > div:first-child .high-img img {width: 45px;height: 45px;}
    .test-cnt h3 {font-size: 19px;}
    .test-slide .swiper-container {padding: 30px 20px 20px;}
    .about h2 {font-size: 30px;}
    
    /* booking */
    .inner-cnt h1{font-size: 55px;}
    .res-dates {flex: 0 1 66.7%;}
    .res-guests{flex:0 1 33.3%;padding-right: 0;}
    .res-btn{flex:0 1 100%}

    /* astronomy , contact , gallery */
    .gallery-section h2{font-size: 45px;}
    section.contact-section {padding: 40px 0px 50px;}
    section.astronomy-section {padding: 30px 0px 40px;}
    section.gallery-section {padding: 40px 0px;}
    section.contact-section h2{font-size: 45px;margin-bottom: 10px;}
    .contact-section p.contact-para {font-size: 19px;}
    .astronomy-section p.para {font-size: 19px;}
    .flex-icon .icon{width: 50px;height: 50px;}
    .icon-section{gap:20px}
    .flex-icon .icon img{max-width: 25px;}
    .flex-icon {gap: 15px;}
    .cont h3{font-size: 16px;margin-bottom: 0;}
    .cont h4{font-size: 16px;line-height: 22px;}

    /* area */
    .ord-1{order: 0;}
    .ord-2{order:1;}
    .ord-3{order:3;}
    .ord-4{order:2;}
    .ord-5{order:4;}


}

@media (max-width: 767px) {

    /* header */
    .mobile-menu{top:78px;height: calc(100vh - 78px);}
    .menu-mid{flex: 0 1 270px;}
    .menu-rgt li .book-btn a{font-size: 16px;padding: 10px 25px;}
    .top-menu{padding: 17px 15px;}

    /* footer */
    footer{padding: 20px 0;}
    .footer-logo{max-width: 280px;margin-bottom: 10px;}

    /* home */
    .home-cnt{left: calc((100% - 540px) / 2);padding: 0 15px;}
    .home-cnt h1 {font-size: 55px;}
    .home-cnt p,.harmony-sec p,.about-cnt p{font-size: 16px;}
    .home-cnt a,.testi-btn a {font-size: 16px;line-height:16px;}
    .about {padding: 40px 0;}
    .about h2 {font-size: 28px;}
    .cot-cnt {font-size: 30px;}
    .test-cnt h3 {font-size: 17px;}
    .test-cnt span{font-size: 16px;}

    /* booking */
    .ban-img{min-height: 250px;}
    .inner-cnt h1{font-size: 45px;}
    .inner-cnt span{font-size: 16px;margin-bottom: 5px; }
    .book-rules ul li,.res-info p{font-size: 16px;}
    #fran-form .input-group input,#fran-form .input-group textarea{font-size: 15px;}
    .res-dates{flex: 0 1 100%}
    .res-dates ul li:last-child{padding-right: 0;}
    .res-guests{flex: 0 1 100%}
    .res-dates ul li label,.res-guests label{line-height: 20px;}
    .gdropdown-menu{max-width: 320px;}
    
    /* astronomy , contact , gallery */
    .gallery-section h2 {font-size: 40px;}
    .img-content {text-align: center;}
    .astronomy-section p.para {font-size: 17px;}
    .pt-60{padding-top: 40px;}
    .review p {padding-left: 40px;font-size: 17px;}
    section.contact-section h2{font-size: 32px;}
    .contact-section p.contact-para {font-size: 17px;}
    .contact-card{padding: 30px;}

    /* cottage */
    .cottage {padding: 40px 0;}
    .cottage p{font-size: 17px;}

    /* area */
    p.area-para {font-size: 16px;}





}

@media (max-width:639px) {

    /* booking */
    .daterangepicker.ltr .calendar.left .calendar-table, .daterangepicker.ltr .left .daterangepicker_input{padding-right: 5px !important;}
    .daterangepicker .calendar td, .daterangepicker .calendar th{min-width: 27px;font-size: 13px;}
}

@media (max-width: 575px) {

    /* header */
    .menu-mid {flex: 0 1 230px;}
    .mobile-menu{top:75px;height: calc(100vh - 75px);}
    .menu-rgt {column-gap: 15px;}

    /* footer */
    .footer-logo { max-width: 230px;}
    .footer-scl-lnks ul li a{width: 30px;height: 30px;}

    /* home */
    .home-cnt{left: 0;}
    .home-cnt h1 {font-size: 42px;}
    .high-img {width: 60px;height: 60px;}    
    .high-img img {width: 30px;height: 30px;}
    .harmony-sec h2 {font-size: 35px;padding: 0 15px;}
    .harmony-sec p{padding: 0 15px;}
    .about h2 {font-size: 25px;}
    .highlights {padding: 60px 0;}
    .harmony-img {max-width: 240px;}
    .high-cnt h4 {font-size: 17px;}

    /* booking */
    .inner-cnt span {font-size: 14px;}
    .inner-cnt h1 {font-size: 32px;}
    .booking{padding: 50px 0;}
    #fran-form{row-gap: 10px;}
    #fran-form .input-group {flex: 0 1 100%; width: 100%;}
    .res-dates ul li{flex: 0 1 100%; padding-right: 0;}
    .res-main , .res-dates ul{row-gap: 15px;}
    .res-dates ul li label , .res-guests label{font-size: 13px;margin-bottom: 2px;}
    .b-frm{font-size: 13px;}
    .glabel{font-size: 15px;}
    .glabel small {font-size: 12px;}
    .counter button {width: 26px;height: 26px;}
    .res-info p,.book-rules ul li{font-size: 15px;}
    .counter input {font-size: 15px;}

    /* astronomy , contact , gallery */
    .gallery-section h2 {font-size: 35px;}
    .astronomy-section iframe {height: 300px;}
    .review p {padding-left: 20px;font-size: 16px;}
    .astronomy-section .img-content img.gallery {height: 250px;}
    .inner-cnt h1 {font-size: 38px;}
    .ban-img {height: 240px;}
    .contact-section h2 {font-size: 35px;}
    .card.contact-card {padding: 20px;}
    .contact-div .form-control {padding: 15px;}
    .contact-div .form-label {font-size: 14px;}
    section.contact-section h2 {font-size: 32px;}
    

}

@media (max-width: 435px) {

    /* header */
    .menu-mid {flex: 0 1 200px;}
    .menu-rgt li .book-btn a {font-size: 14px;padding: 8px 17px;}
    .mobile-menu{top:70px;height: calc(100vh - 70px);}

    /* footer */
    .footer-logo { max-width: 200px;}
    footer p{font-size: 13px;}
    

}

@media (max-width: 375px) {

    /* header */
    .menu-mid {flex:0 1 170px;}
    .m-menu {width:25px;}
    .m-menu.open span:nth-child(3) {top:18px;}
    .menu-rgt li .book-btn a {font-size:13px; padding:6px 11px;}
    .mobile-menu{top:66px;height: calc(100vh - 66px);}
    
    /* footer */
    .footer-logo { max-width: 170px;}

    /* booking */
    .content-wrapper{padding: 0 20px;}
    .reservation,#fran-form{padding: 20px;}
    .res-btn a {font-size: 15px;padding: 6px 20px;}
    #fran-form .submit-btn {padding: 9px 30px;}
    .book-rules ul li{font-size: 15px;line-height: 24px;}
    .datepickers-container .datepicker{width: 200px;}
    
    
}